@model IEnumerable<GroupF.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.appid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.appid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.appid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.appid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>